@import "font-awesome.css"
@import "bootstrap.css"

body
  font-size 16px
  margin 0

i
  display inline-block

ul
  margin 0
  padding 0
li
  list-style none

header
  text-align left
  padding 10px
  border-bottom 2px solid #000
  margin-bottom 30px

nav
  width 100px
  float left
  li
    text-align center
    margin-bottom 20px
    a
      text-decoration none
      color #000
      &:hover
      &:focus
        text-decoration none
  .fa
    display block
    font-size 40px



.folders
  border 1px solid #000
  li
    line-height 30px
    cursor pointer
    a
      display block
    &:hover
    &.active
      background-color #c1e5ff
      a
        text-decoration none
  .fa
    font-size 30px
    margin-right 10px

.notes
  ul
    margin-top 50px
  li
    display inline-block
    text-align center
    margin 0 10px
    .note-title
      display block
      margin-top 5px
    input
      max-width 70px
    .fa
      display block
      font-size 50px

.single-note
  width 900px
  margin 0 auto
  .single-note-row
    clear left
    margin-bottom 10px
    input
    textarea
      width 645px
    .fa-plus
      cursor pointer
      color #000088
      margin-left 10px
    .add-tag
      width 150px
    .add-tag-block
      margin-left 150px
  label
    float left
    width 150px
  .content-block
    border 2px solid #000
    margin-left 150px
    padding 5px
  .tag-item
    display inline-block
    margin 0 10px 5px 0
    .fa-close
      color #ff0000
      position relative
      top: -5px
      cursor pointer


.notes_search
  float right
  margin-top -50px
  position relative
  .fa
    position absolute
    left 5px
    margin 4px 0 0 0
  input
    padding-left 25px
  .advanced-link
    font-size 12px
    display inline-block
    margin-left 5px

.modal-content
  text-align center
  .modal-item
    text-align left
    margin-bottom 10px
    label
      display block
      cursor pointer
      span
        display inline-block
        margin-left 10px
  .btn
    margin-left 10px