@import "font-awesome.css";
@import "bootstrap.css";
body {
  font-size: 16px;
  margin: 0;
}
i {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
header {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
nav {
  width: 100px;
  float: left;
}
nav li {
  text-align: center;
  margin-bottom: 20px;
}
nav li a {
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  text-decoration: none;
}
nav .fa {
  display: block;
  font-size: 40px;
}
.folders {
  border: 1px solid #000;
}
.notes ul {
  margin-top: 50px;
}
.notes li .fa {
  display: block;
  font-size: 50px;
}
.notes_search {
  float: right;
}
