@import "font-awesome.css";
@import "bootstrap.css";
body {
  font-size: 16px;
  margin: 0;
}
i {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
header {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
nav {
  width: 100px;
  float: left;
}
nav li {
  text-align: center;
  margin-bottom: 20px;
}
nav li a {
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  text-decoration: none;
}
nav .fa {
  display: block;
  font-size: 40px;
}
.folders {
  border: 1px solid #000;
}
.folders li {
  line-height: 30px;
  cursor: pointer;
}
.folders li:hover,
.folders li.active {
  background-color: #c1e5ff;
}
.folders .fa {
  font-size: 30px;
  margin-right: 10px;
}
.notes ul {
  margin-top: 50px;
}
.notes li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}
.notes li .note-title {
  display: block;
  margin-top: 5px;
}
.notes li input {
  max-width: 70px;
}
.notes li .fa {
  display: block;
  font-size: 50px;
}
.single-note {
  width: 900px;
  margin: 0 auto;
}
.single-note .single-note-row {
  clear: left;
  margin-bottom: 10px;
}
.single-note label {
  float: left;
  width: 150px;
}
.single-note .content-block {
  border: 2px solid #000;
  margin-left: 150px;
  padding: 5px;
}
.notes_search {
  float: right;
  margin-top: -50px;
  position: relative;
}
.notes_search .fa {
  position: absolute;
  left: 5px;
  margin: 4px 0 0 0;
}
.notes_search input {
  padding-left: 25px;
}
.notes_search .advanced-link {
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}
